.THIS .feedContainer {
    height: 28rem;
    max-height: 300px;
    width: -webkit-fill-available;
}

.THIS .slds-card__header {
    margin: 0;
    padding: 0;
}

.THIS .slds-card__body {
    margin: 0;
}

.THIS .ct-text-color {
    color : var(--text-color);
            font-weight: 700;
}
        
        
        .THIS       .clickable {
            cursor: pointer;
    }

  .THIS   .header-style{
    border-bottom: 1px solid #eadddd;
    padding-bottom: 1%;
    }

 .THIS    .chevron {
        margin-right: 5%;
    font-size: 18px;
    color: #a39a9a;
    }